### This is how to load the dataset_file

In [2]:
import pandas as pd

holidays_file = pd.read_csv('raw_dataset_1/holidays_events.csv')

### This is how to print few lines of data

In [1]:
holidays_file.head(10)

NameError: name 'holidays_file' is not defined

### Check the shape of data (nuber of rows ,number of colunms)

In [89]:
holidays_file.shape

(350, 6)

In [90]:
holidays_file = holidays_file.rename(columns={'type':'Day_type'})

### Check for duplicate rows and how to remove it

In [91]:
# How to chech duplicate rows
holidays_file.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
345    False
346    False
347    False
348    False
349    False
Length: 350, dtype: bool

In [92]:
# How to remove all duplicate rows from the file
holidays_file.drop_duplicates()

,date,Day_type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False
...,...,...,...,...,...,...
345,2017-12-22,Additional,National,Ecuador,Navidad-3,False
346,2017-12-23,Additional,National,Ecuador,Navidad-2,False
347,2017-12-24,Additional,National,Ecuador,Navidad-1,False
348,2017-12-25,Holiday,National,Ecuador,Navidad,False
349,2017-12-26,Additional,National,Ecuador,Navidad+1,False

### Check for duplicate columns in the file

In [93]:
# This is used to see all the columns name are present in file
holidays_file.columns

Index(['date', 'Day_type', 'locale', 'locale_name', 'description',
       'transferred'],
      dtype='object')

In [94]:
# This check column name is repeated or not
holidays_file.columns.duplicated()

array([False, False, False, False, False, False])

In [95]:
# This check all the columns name if it is repeated or not if yes then it shows the duplicated column name in output
holidays_file.columns[holidays_file.columns.duplicated()]

Index([], dtype='object')

### Missing values

In [96]:
# how to find missing values

holidays_file.isnull().sum()

date           0
Day_type       0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64

In [97]:
# how to fix missing values

# Case 1: Numeric Column (e.g., Age, Salary)


# Option A: Fill with the mean
# df['Age'] = df['Age'].fillna(df['Age'].mean())
# Why? If you don't know someone’s age, assume the average. It's safe


# ption B: Fill with the median
# df['Age'] = df['Age'].fillna(df['Age'].median())
# Why? Median is safer when data has outliers (like very high or low numbers).


# Option C: Fill with a fixed value
# df['Age'] = df['Age'].fillna(0)
# Why? Only use if 0 makes sense (e.g., zero purchases, zero visits)


# Case 2: Categorical Column (text columns like City, Type)



# Option A: Fill with the most common value
# df['City'] = df['City'].fillna(df['City'].mode()[0])
# .mode() = most frequent value


# Option B: Fill with a placeholder
# df['City'] = df['City'].fillna('Unknown')
# Why? Sometimes it's better to say "I don’t know" than to guess.



# Case 3: Drop the rows with missing values (only if very few)

# df = df.dropna()
# Be careful! This deletes all rows that have even 1 NaN value.

### Check and fix data types

In [98]:
holidays_file.dtypes

date           object
Day_type       object
locale         object
locale_name    object
description    object
transferred      bool
dtype: object

### Check for Invalid Dates

In [99]:
# it used to check for invalid dates

pd.to_datetime(holidays_file['date'], errors='coerce')

# holidays_file['date']	Take the column with dates
# pd.to_datetime(...)	Try to convert to real date
# errors='coerce'	If it’s wrong, make it NaT (means: "not a real date")

0     2012-03-02
1     2012-04-01
2     2012-04-12
3     2012-04-14
4     2012-04-21
         ...
345   2017-12-22
346   2017-12-23
347   2017-12-24
348   2017-12-25
349   2017-12-26
Name: date, Length: 350, dtype: datetime64[ns]

In [100]:
#it Show the bad dates only

holidays_file[holidays_file['date'].isna()]


# holidays_file[...]	Show me the rows where...
# holidays_file['Good_Dates'].isna()	the Good_Dates column is empty (NaT)

Empty DataFrame
Columns: [date, Day_type, locale, locale_name, description, transferred]
Index: []

In [ ]:
# check for negative sale

holidays_file[holidays_file['column name'] < 0]

#holidays_file['sales'] < 0	Checks which rows have sales less than 0
#holidays_file[...]	Shows only those rows

In [102]:
# Remove all those data completely 
#holidays_file = holidays_file[holidays_file['column_name'] >= 0]


# Fix the values (if you know what they should be)

#holidays_file.loc[holidays_file['column_name'] < 0, 'column_name'] = 0

#loc[...] lets you find and change specific values
#train_file['unit_sales'] < 0 → finds all rows with negative sales
#'unit_sales'] = 0 → sets those values to 0



# alternative

#Make all values positive (absolute)
#train_file['unit_sales'] = train_file['unit_sales'].abs()

In [103]:
holidays_file.dtypes

date           object
Day_type       object
locale         object
locale_name    object
description    object
transferred      bool
dtype: object

In [104]:
#Check for wrong categories (typos)

# for type column
holidays_file[~holidays_file['Day_type'].isin(['Holiday', 'Additional', 'Work Day', 'Bridge', 'Transfer', 'Event'])]

Empty DataFrame
Columns: [date, Day_type, locale, locale_name, description, transferred]
Index: []

In [105]:
#Check for wrong categories (typos)

# for locale column checking is there any mistake beside this 'Local', 'Regional', 'National'
holidays_file[~holidays_file['locale'].isin(['Local', 'Regional', 'National'])]

Empty DataFrame
Columns: [date, Day_type, locale, locale_name, description, transferred]
Index: []

### Standardize Text Columns

In [106]:
# Step 1: Remove extra spaces

holidays_file['Day_type'] = holidays_file['Day_type'].str.strip()

# .str	We're working with string/text values
# .strip()	Removes spaces from start and end like " hello " → "hello"

In [107]:
holidays_file['locale_name'] = holidays_file['locale_name'].str.strip()

In [108]:
holidays_file['description'] = holidays_file['description'].str.strip()

In [109]:
holidays_file.head()

,date,Day_type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [110]:
# Step 2: Make everything lowercase

# holidays_file['column_name'] = holidays_file['column_name'].str.lower()

#.lower()	Changes "HOLIDAY" → "holiday" so all look the same

In [111]:
#Step 3: (Optional) Replace specific typos

holidays_file['Day_type'] = holidays_file['Day_type'].replace({
    'holidaay': 'holiday',
    'holi-day': 'holiday'
})

In [112]:
holidays_file.head()

,date,Day_type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

### final check

In [113]:
holidays_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   Day_type     350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB

In [114]:
holidays_file.describe()

              date Day_type    locale locale_name description transferred
count          350      350       350         350         350         350
unique         312        6         3          24         103           2
top     2014-06-25  Holiday  National     Ecuador    Carnaval       False
freq             4      221       174         174          10         338

## Save the change in the New file

In [116]:
holidays_file.to_csv("cleaned_raw_dataset_2/clean_holiday_event_dataset.csv", index=False)