In [4]:
import pandas as pd
train_file = pd.read_csv("raw_dataset_1/train.csv")

C:\Users\siddh\AppData\Local\Temp\ipykernel_4540\1070728503.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  train_file = pd.read_csv("raw_dataset_1/train.csv")

In [6]:
train_file.shape

(125497040, 6)

In [19]:
import pandas as pd

#train_file = pd.read_csv("raw_dataset/train.csv")

test_file = pd.read_csv("raw_dataset_1/test.csv")

item_file = pd.read_csv("raw_dataset_1/items.csv")

store_file = pd.read_csv("raw_dataset_1/stores.csv")

transaction_file = pd.read_csv("raw_dataset_1/transactions.csv")

oil_file = pd.read_csv("raw_dataset_1/oil.csv")

sample_file = pd.read_csv("raw_dataset_1/sample_submission.csv")

In [20]:
# train_file.head()

test_file.head()

item_file.head()

store_file.head()

transaction_file.head()

oil_file.head()

sample_file.head()

          id  unit_sales
0  125497040           0
1  125497041           0
2  125497042           0
3  125497043           0
4  125497044           0

In [21]:
# To check the shape of data


# train_file.shape

test_file.shape

item_file.shape

store_file.shape

transaction_file.shape

oil_file.shape

sample_file.shape

(3370464, 2)

In [22]:
# change the column name
store_file = store_file.rename(columns={"type":"store_grade"})

In [23]:
# How to chech duplicate rows


#train_file.duplicated().sum()

test_file.duplicated().sum()

test_file.duplicated()

store_file.duplicated()

transaction_file.duplicated()

oil_file.duplicated()

sample_file.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
3370459    False
3370460    False
3370461    False
3370462    False
3370463    False
Length: 3370464, dtype: bool

In [ ]:
# How to remove all duplicate rows from the file



# train_file.drop_duplicates()

item_file.drop_duplicates()

store_file.drop_duplicates()

transaction_file.drop_duplicates()

oil_file.drop_duplicates()

sample_file.drop_duplicates()

                id  unit_sales
0        125497040           0
1        125497041           0
2        125497042           0
3        125497043           0
4        125497044           0
...            ...         ...
3370459  128867499           0
3370460  128867500           0
3370461  128867501           0
3370462  128867502           0
3370463  128867503           0

[3370464 rows x 2 columns]

In [25]:
# check all the columns name



#train_file.columns

test_file.columns

item_file.columns

store_file.columns

transaction_file.columns

oil_file.columns

sample_file.columns

Index(['id', 'unit_sales'], dtype='object')

In [26]:
# check duplicasy in columns




#train_file.columns[train_file.columns.duplicated()]


test_file.columns[test_file.columns.duplicated()]


item_file.columns[item_file.columns.duplicated()]


store_file.columns[store_file.columns.duplicated()]


transaction_file.columns[transaction_file.columns.duplicated()]


oil_file.columns[oil_file.columns.duplicated()]

sample_file.columns[sample_file.columns.duplicated()]

Index([], dtype='object')

In [27]:
# how to find missing values




#train_file.isnull().sum()


test_file.isnull().sum()


item_file.isnull().sum()


store_file.isnull().sum()


transaction_file.isnull().sum()


oil_file.isnull().sum()


sample_file.isnull().sum()

id            0
unit_sales    0
dtype: int64

In [28]:
# fix missing values

#train_file['onpromotion'] = train_file['onpromotion'].fillna(False)

oil_file['dcoilwtico']=oil_file['dcoilwtico'].fillna(oil_file['dcoilwtico'].mean())

In [29]:
# cheking all missing valse are filled
#train_file.isnull().sum()
oil_file.isnull().sum()

date          0
dcoilwtico    0
dtype: int64

In [ ]:
# Check is there any value in a row which is empty




#train_file[train_file.isnull().any(axis=1)]
#any(axis=1) → Means “at least one missing value in the row”


test_file[test_file.isnull().any(axis=1)]


item_file[item_file.isnull().any(axis=1)]


store_file[store_file.isnull().any(axis=1)]


transaction_file[transaction_file.isnull().any(axis=1)]


oil_file[oil_file.isnull().any(axis=1)]


sample_file[sample_file.isnull().any(axis=1)]

Empty DataFrame
Columns: [id, unit_sales]
Index: []

In [31]:
# it used to check for invalid dates




#pd.to_datetime(train_file['date'],errors='coerce')


pd.to_datetime(test_file['date'], errors='coerce')


pd.to_datetime(transaction_file['date'], errors='coerce')


pd.to_datetime(oil_file['date'], errors='coerce')

0      2013-01-01
1      2013-01-02
2      2013-01-03
3      2013-01-04
4      2013-01-07
          ...
1213   2017-08-25
1214   2017-08-28
1215   2017-08-29
1216   2017-08-30
1217   2017-08-31
Name: date, Length: 1218, dtype: datetime64[ns]

In [32]:
store_file.dtypes

store_nbr       int64
city           object
state          object
store_grade    object
cluster         int64
dtype: object

In [33]:
# shows e





#train_file[train_file['date'].isna()]



test_file[test_file['date'].isna()]
#test_file	           This is your DataFrame (like a big table full of data).
#test_file['date']	   This picks just the 'date' column from the table.
#.isna()	           This checks each row of the column to see if the value is missing/empty. It returns True for missing, False for normal.
#test_file[ ... ]	   This filters and shows only those rows where the inside condition is True. So only rows where 'date' is missing.



item_file[item_file['perishable'].isna()]



store_file[store_file['city'].isna()]
store_file[store_file['store_grade'].isna()]
store_file[store_file['state'].isna()]


transaction_file[transaction_file['date'].isna()]
transaction_file[transaction_file['store_nbr'].isna()]
transaction_file[transaction_file['transactions'].isna()]



oil_file[oil_file['date'].isna()]



sample_file[sample_file['id'].isna()]
sample_file[sample_file['unit_sales'].isna()]

Empty DataFrame
Columns: [id, unit_sales]
Index: []

In [34]:
#check is there any invalid value in the column





#train_file[train_file['unit_sales']<0]


test_file[test_file['store_nbr']<0]
test_file[test_file['item_nbr']<0]
test_file[test_file['id']<0]


item_file[item_file['item_nbr']<0]
item_file[item_file['class']<0]
item_file[item_file['perishable']<0]


store_file[store_file['store_nbr']<0]
store_file[store_file['cluster']<0]


transaction_file[transaction_file['store_nbr']<0]
transaction_file[transaction_file['transactions']<0]


oil_file[oil_file['dcoilwtico']<0]


sample_file[sample_file['id']<0]
sample_file[sample_file['unit_sales']<0]

Empty DataFrame
Columns: [id, unit_sales]
Index: []

In [35]:
# Fix the values (if you know what they should be)








# train_file.loc[train_file['unit_sales']< 0, 'unit_sales']=0

In [36]:
# re-check unit_sale coluumn to see are there and value invalid










# train_file[train_file['unit_sales']<0]

In [37]:
# Chesk for other columns for invalid data









# train_file[train_file['item_nbr']<0]
# train_file[train_file['store_nbr']<0]

In [38]:
# Standardize Text Columns






# train_file.dtypes

test_file.dtypes

item_file.dtypes

store_file.dtypes

transaction_file.dtypes

oil_file.dtypes

sample_file.dtypes

id            int64
unit_sales    int64
dtype: object

In [39]:
# this remove extra spaces from the object and string data



# train_file['date'] = train_file['date'].str.strip()         # other than date all data_type is float, int and bool


test_file['date']=test_file['date'].str.strip()


store_file['city']=store_file['city'].str.strip()
store_file['store_grade']=store_file['store_grade'].str.strip()
store_file['state']=store_file['state'].str.strip()

transaction_file['date'] = transaction_file['date'].str.strip()


oil_file['date'] = oil_file['date'].str.strip()

In [40]:
# final check




#train_file.info()

test_file.info()

item_file.info()

store_file.info()

transaction_file.info()

oil_file.info()

sample_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3370464 entries, 0 to 3370463
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   item_nbr     int64
 4   onpromotion  bool
dtypes: bool(1), int64(3), object(1)
memory usage: 106.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_nbr    4100 non-null   int64
 1   family      4100 non-null   object
 2   class       4100 non-null   int64
 3   perishable  4100 non-null   int64
dtypes: int64(3), object(1)
memory usage: 128.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   store_nbr    54 non-null     int64
 1   city         54 non-null     object
 2   state        54 non-null     object
 3   store_grade  54 non-null     object
 4   cluster      54 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  object
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1218 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3370464 entries, 0 to 3370463
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   id          int64
 1   unit_sales  int64
dtypes: int64(2)
memory usage: 51.4 MB

In [41]:
#train_file.head()

test_file.head()

item_file.head()

store_file.head()

transaction_file.head()

oil_file.head()

sample_file.head()

          id  unit_sales
0  125497040           0
1  125497041           0
2  125497042           0
3  125497043           0
4  125497044           0

In [42]:
#train_file.shape

test_file.shape

item_file.shape

store_file.shape

transaction_file.shape

oil_file.shape

sample_file.shape

(3370464, 2)

In [43]:

#train_file.describe()

test_file.describe()

item_file.describe()

store_file.describe()

transaction_file.describe()

oil_file.describe()

sample_file.describe()

                 id  unit_sales
count  3.370464e+06   3370464.0
mean   1.271823e+08         0.0
std    9.729693e+05         0.0
min    1.254970e+08         0.0
25%    1.263397e+08         0.0
50%    1.271823e+08         0.0
75%    1.280249e+08         0.0
max    1.288675e+08         0.0

In [44]:
# save to clean data in another file



#train_file.to_csv("cleaned_raw_dataset/upgraded_train.csv", index = False)

test_file.to_csv("cleaned_raw_dataset_2/clean_test_dataset.csv", index = False)

item_file.to_csv('cleaned_raw_dataset_2/clean_item_dataset.csv', index = False)

store_file.to_csv("cleaned_raw_dataset_2/clean_store_dataset.csv", index=False)

transaction_file.to_csv("cleaned_raw_dataset_2/clean_transaction_dataset.csv", index=False)

oil_file.to_csv("cleaned_raw_dataset_2/clean_oil_dataset.csv", index=False)

sample_file.to_csv("cleaned_raw_dataset_2/clean_sample_dataset.csv", index=False)

### End

## Test file