In [2]:
import pandas as pd

t = pd.read_csv("cleaned_raw_dataset/updated_train.csv")
i = pd.read_csv("cleaned_raw_dataset/clean_item_dataset.csv")

### Checking Common columns inside clean train and item dataset for merging

In [3]:
print(t.head(), "\n\n",i.head())

# item_nbr is common in both dataset

   id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   0  2013-01-01         25    103665         7.0        False
1   1  2013-01-01         25    105574         1.0        False
2   2  2013-01-01         25    105575         2.0        False
3   3  2013-01-01         25    108079         1.0        False
4   4  2013-01-01         25    108701         1.0        False

    item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

### Checking Common columns inside clean train and holiday_event dataset for merging

In [5]:
holi = pd.read_csv("cleaned_raw_dataset/clean_holiday_event_dataset.csv")

In [6]:
print(t.head(), "\n\n", holi.head())

# date is common column in both dataset

   id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   0  2013-01-01         25    103665         7.0        False
1   1  2013-01-01         25    105574         1.0        False
2   2  2013-01-01         25    105575         2.0        False
3   3  2013-01-01         25    108079         1.0        False
4   4  2013-01-01         25    108701         1.0        False

          date     type    locale locale_name                    description  \
0  2012-03-02  Holiday     Local       Manta             Fundacion de Manta
1  2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
2  2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
3  2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
4  2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

   transferred
0        False
1        False
2        False
3        False
4        False

### Checking Common columns inside clean train and oil dataset for merging

In [7]:
o = pd.read_csv("cleaned_raw_dataset/clean_oil_dataset.csv")

In [8]:
print(t.head(), "\n\n", o.head())

# date is common column in both dataset

   id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   0  2013-01-01         25    103665         7.0        False
1   1  2013-01-01         25    105574         1.0        False
2   2  2013-01-01         25    105575         2.0        False
3   3  2013-01-01         25    108079         1.0        False
4   4  2013-01-01         25    108701         1.0        False

          date  dcoilwtico
0  2013-01-01   67.714366
1  2013-01-02   93.140000
2  2013-01-03   92.970000
3  2013-01-04   93.120000
4  2013-01-07   93.200000

### Checking Common columns inside clean train and store dataset for merging

In [9]:
s = pd.read_csv("cleaned_raw_dataset/clean_store_dataset.csv")

In [10]:
print(t.head(),"\n\n",s.head())

   id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   0  2013-01-01         25    103665         7.0        False
1   1  2013-01-01         25    105574         1.0        False
2   2  2013-01-01         25    105575         2.0        False
3   3  2013-01-01         25    108079         1.0        False
4   4  2013-01-01         25    108701         1.0        False

    store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

### Checking Common columns inside clean train and transaction dataset for merging

In [11]:
tn = pd.read_csv("cleaned_raw_dataset/clean_transaction_dataset.csv")

In [12]:
print(t.head(),"\n\n", tn.head())

   id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   0  2013-01-01         25    103665         7.0        False
1   1  2013-01-01         25    105574         1.0        False
2   2  2013-01-01         25    105575         2.0        False
3   3  2013-01-01         25    108079         1.0        False
4   4  2013-01-01         25    108701         1.0        False

          date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

## Now

## Test

In [13]:
test = pd.read_csv("cleaned_raw_dataset/clean_test_dataset.csv")

### Checking Common columns inside clean test and item dataset for merging

In [ ]:
print(test.head(),"\n\n",i.head())

# merge on the bases of item_nbr

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False

    item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [ ]:
print(test.head(),"\n\n",holi.head())
# merge on the bases of date

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False

          date     type    locale locale_name                    description  \
0  2012-03-02  Holiday     Local       Manta             Fundacion de Manta
1  2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
2  2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
3  2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
4  2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

   transferred
0        False
1        False
2        False
3        False
4        False

In [ ]:
print(test.head(),"\n\n",s.head())
# merge on the bases of store_nbr

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False

    store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [ ]:
print(test.head(),"\n\n",tn.head())
# merge on the bases of date, store_nbr

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False

          date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [ ]:
print(test.head(),"\n\n",o.head())
# merge on the bases of date

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False

          date  dcoilwtico
0  2013-01-01   67.714366
1  2013-01-02   93.140000
2  2013-01-03   92.970000
3  2013-01-04   93.120000
4  2013-01-07   93.200000